/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #2C3E50;
}

/* Contenido principal */
main {
    margin: 20px;
}

/* Navegación alfabética */
nav {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #003366;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Estilo de la cabecera de navegación */
nav h2 {
    color: #003366;
    font-size: 1.5em;
    margin-bottom: 10px;
}

nav #mapa {
    font-size: 1em;
}

/* Estilos para el índice alfabético */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #003366;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

/* Efecto hover para enlaces en el índice */
nav ul li a:hover {
    background-color: #00509e;
    color: #ffffff;
}

/* Efecto de foco en los enlaces del índice */
nav ul li a:focus {
    outline: 2px dashed #e67e22;
}

/* Efectos hover en el resto de los enlaces */
a {
    color: #003366;
    font-weight: bold;
}

a:hover {
    color: #00509e;
    text-decoration: underline;
}

/* Temas destacados */
h2 {
    color: #003366;
    font-size: 1.3em;
    margin: 20px;
}

/* Estilo para los párrafos */
p {
    font-size: 1.1em;
    margin: 20px;
}

/* Aside */
aside {
    background-color: #ecf0f1;
    border-left: 5px solid #003366;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.mini {
    display: none;
}

/* Maquetación columnas si hay más de 980px de resolución */
@media (min-width: 980px) {
    .columnas {
        float: left;
    }

    .columnas {
        width: 30%;
    }

    .columnas#autoevaluacion {
        width: 40%;
    }

    section ul {
        margin: 20px;
    }
}

/* Índice letras si hay menos de 480px (móviles) */
@media (max-width: 480px) {
    .mini {
        display: inherit !important;
    }

    .normal {
        display: none;
    }

    select {
        background-color: #ffffff;
        border: 2px solid #003366;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2em;
        color: #003366;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, border-color 0.3s;
    }

    /* Efecto hover para el menú desplegable */
    select:hover {
        background-color: #ecf0f1;
    }

    /* Efecto de foco en el menú desplegable */
    select:focus {
        outline: none;
        border-color: #e67e22;
        box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
    }
}


