/* modo-noche.css */

@import 'colores.css';

body {
    background-color: var(--color-fondo-noche);
    color: var(--color-texto-noche);
}

nav {
    background-color: var(--color-fondo-claro-noche);
    border: 2px solid var(--color-azul-noche);
    box-shadow: 3px 3px 8px var(--color-sombra-noche);
}

nav h2 {
    color: var(--color-azul-noche);
}

nav ul li a {
    background-color: var(--color-boton-noche);
    color: #ffffff;
}

nav ul li a:hover {
    background-color: var(--color-boton-hover-noche);
    color: #000000;
}

a {
    color: var(--color-enlace-noche);
}

a:hover {
    color: var(--color-enlace-hover-noche);
}

h3 {
    color: var(--color-enlace-hover-noche);
}

p {
    color: var(--color-texto-noche);
}

aside {
    background-color: var(--color-fondo-aside-noche);
    border-left: 5px solid var(--color-azul-noche);
}

select {
    background-color: var(--color-fondo-claro-noche);
    border: 2px solid var(--color-azul-noche);
    color: var(--color-texto-noche);
    box-shadow: 2px 2px 5px var(--color-sombra-noche);
}

select:hover {
    background-color: var(--color-fondo-noche);
}

#cita {
    color: var(--color-cita-texto-noche);
    background-color: var(--color-cita-fondo-noche);
}
