/* Estilos para los controles de formulario */
label {
    float: left;
    width: 30%;
    color: #003366;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 20px;
    margin-top: 50px;
}

fieldset label {
    width: 50%;
}

input, textarea, select {
    float: right;
    width: 20%;
    padding: 12px;
    border: 2px solid #003366;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2C3E50;
    font-family: Arial, sans-serif;
    margin: 15px;
    margin-right: 50%;
    margin-bottom: 40px;
    margin-top: 5px;
}

textarea {
    height: 120px;
}

fieldset {
    width: 50%;
    border: 2px solid #003366;
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 25px;
    margin: 40px;
}

.boton {
    width: 20%;
    background-color: #1F74AD;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    float: none;
    margin: 25px auto;
    margin-left: 40%;
    margin-right: 40%;
}

.boton:hover {
    background-color: #00509e;
}

.check, .radio {
    width: 70%;
    float: left;
    transform: scale(1.5);
}

#pcr, #info, #antecedentes {
    width: 70%;
}

output {
    float: right;
    display: inline-block;
    width: 1%;
    padding: 12px;
    border: 2px solid #003366;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2C3E50;
    font-family: Arial, sans-serif;
    margin: 10px 0;
}

legend {
    color: #003366;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.icono {
    color: #4CAF50;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

