/* Importa la fuente hiperlegible */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

/* Estilos generales */
body {
    font-family: 'Atkinson Hyperlegible', sans-serif; /* Cambiar la fuente */
    font-size: 18pt; /* Tamaño de fuente aumentado */
}

/* Estilo de la cabecera de navegación */
nav h2 {
    font-size: 2em; /* Tamaño de fuente aumentado */
}

/* Estilos para el índice alfabético */
nav ul li a {
    padding: 15px 20px; /* Aumentado para mayor área clickeable */
    font-size: 1.5em; /* Tamaño de fuente aumentado */
}

/* Temas destacados */
h3 {
    font-size: 2em; /* Tamaño de fuente aumentado */
}

/* Estilo para los párrafos */
p {
    font-size: 1.5em; /* Tamaño de fuente aumentado */
}

/* Aside */
aside {
    font-size: 1.4em; /* Tamaño de fuente aumentado */
}

/* Índice letras si hay menos de 480px (móviles) */
@media (max-width: 480px) {
    select {
        font-size: 1.6em; /* Tamaño de fuente aumentado para select */
    }
}
