/* Espaciado y distribución */
table {
  table-layout: fixed;
  width: 80%;
  margin: 60px auto;
}

th, td {
  padding: 20px;
}

/* Bordes */
table, tr, th, td {
  border-collapse: collapse;
  border: 3px solid #003366;
}

/* Tipografía */
thead th, tfoot th, caption {
  font-family: Arial, Helvetica, sans-serif;
}

tbody td {
  text-align: center;
  color: white;
}

tfoot th {
  text-align: right;
  color: white;
}

caption {
  font-variant: small-caps;
  color: #0056b3;
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
}

thead, tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  color: white;
}

/* Estilo cebra */
tbody tr:nth-child(odd) {
  background-color: #0056b3;
}

tbody tr:nth-child(even) {
  background-color: #337ab7;
}

/* Texto blanco en toda la tabla */
th, td {
  color: white;
}



